<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.first.cluster.dao.ClusterUserDao">
    <!-- 查询单条记录 -->
    <select id="selectUserById" parameterType="int" resultType="com.example.first.bean.User">
        SELECT * FROM test.user <!--如果多数据源存在重名表，去她妹的报错-->
         WHERE USER_ID = #{userId}
    </select>
</mapper>